.carouselStyle {
    margin: 100px auto;
    width: 90%;
    border: 5px solid red;
    display: flex;
    overflow-x: auto;
}

.carouselStyle::-webkit-scrollbar {
    display: none;
}

.groupStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 22s infinite linear;
    padding-right: 1em;
}

.cardStyle {
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    background: lightblue;
    font-size: 3rem;
    border-radius: .2em;
    align-content: center;
    text-align: center;
}

@keyframes spin {
    from {translate: 0%;}
    to {translate: -100%;}
}